# Ignore environment variable files
.env
*.env

# Ignore Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
venv/
pyenv/

# Ignore pyenv-specific files
/.pyenv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore VS Code settings (optional)
.vscode/